/target/
target

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
*.iml
*.class
*.pid
*.log
*.ipr
*.ims
*.iws
*.txt

test.java
Test.java

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/.settings/
/bin/
/.idea/
# 不提交上传文件夹
uploadfiles

App.java
AppTest.java
*.log
*.properties

logs
httpRequests
.shelf
